%packager {{ local_username.stdout }}
%_signature gpg
%_gpg_name EuPathDB Signers (Key for signing EuPathDB packages) <help@eupathdb.org>
%_topdir {{ rpmbuild_topdir  }}
%dist {{ rpmbuild_dist }}
%debug_package %{nil}
